 *{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main{
    background:#F5F5F5;
    padding: 0 10px 0 10px;
}


/* ===================================================== */

.nav-img1 img{
    position: relative;
    left: 450px;
    top: -7px;
}
.nav-img2 img{
    position: relative;
    right: 449px;
    top: -7px;
}

.h-4px{
    width: 100%;
    height: 10px;
    background-color: #F5F5F5;
    margin: 0 auto;
    position: fixed;
}

.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    padding: 12px 16px;
    border-radius: 0 0 10px 10px;
    column-gap: 112px;
    max-width: 920px;
    margin: 0 auto;
}

.nav-iteams{
    display: flex;
    gap: 24px;
}
.nav-main .item img {
    color: var(--Text, #222);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -1px;
    text-transform: uppercase;
    position: relative;
    top: 3px;
    left: -2px;
}
.nav-main .item a{
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.nav-main .item:hover img{
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.main-body{
    padding: 0 10px 0 10px;
    background: #f5f5f5F5;
    /* height: 2000px; */
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: fixed;
    width: 98.4vw;
}

.nav-main .btn{
    display: flex;
    width: 135px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--primary, #FF4E10);
    cursor: pointer;
    transition: all linear 0.3s;
}

.nav-main .btn .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}
.nav-main .btn .text a{
   color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}

.nav-main .btn:hover{
    background: #FF4E10;
    opacity: 0.8;
}


    /* ===================================================================== */

#banner-part{
    width: 100%;
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
}

#banner-part .banner-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 250px;
    padding-left: 62px;
}
#banner-part .banner-wrapper .banner-left{
    display: flex;
    flex-direction: column;
    padding-right: 350px;
}
#banner-part .banner-wrapper h3{
    color: #F5F0E9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
#banner-part .banner-wrapper h1{
    max-width: 523px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -1px;
    text-transform: uppercase;
    align-self: stretch;
    margin-top: 16px;
}

.banner-btn-main{
    display: flex;
    gap: 16px;
}

.banner-btn{
    display: flex;
    width: 157px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--primary, #FF4E10);
    transition: all linear 0.3s;
    margin-top: 32px;
    cursor: pointer;
}

.banner-wrapper .banner-left .banner-btn .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}
.banner-wrapper .banner-left .banner-btn .text a{
   color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.banner-wrapper .banner-left .banner-down{
    margin-top: 163px;
}
.banner-wrapper .banner-left .banner-down img{
    width: 40px;
    height: 40px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.banner-wrapper .banner-left .banner-down p{
    max-width: 282px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1px;
    margin-top: 16px;
    margin-bottom: 78px;
}
.banner-btn-right{
    display: flex;
    padding: 12px 20px 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #222;
    margin-top: 32px;
    cursor: pointer;
}

.banner-wrapper .banner-left .banner-btn-right .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}
.banner-wrapper .banner-left .banner-btn-right .text a{
    color: #F5F0E9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}

.banner-btn:hover{
    background: #FF4E10;
    opacity: 0.8;
}
.banner-btn-right:hover{
    background: #222;
    opacity: 0.8;
}
.banner-right .banner-list{
    padding-left: 250px;
}

.banner-right .banner-list ul{
    margin-top: 60px;
    padding-right: 200px;
}
.banner-right .banner-list ul li{
    position: relative;
    margin-top: 17px;
    
}
.banner-right .banner-list ul li i{
    color: var(--White, #FF5812);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 156%; 
    text-transform: uppercase;
}
.banner-right .banner-list ul li:hover i{
    transform: rotate(180deg);
    transition: transform 0.5s;
    font-size: 20px;
}
.banner-right .banner-list ul li span{
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 156%;
    text-transform: uppercase;
}

.banner-right .banner-list ul li::after{
    content: "";
    display: inline-block;
    width: 239px;
    height: 0.5px;
    background: #A19F9F;
    position: absolute;
    top: 35px;
    left: 0;
}

.banner-right .banner-list ul li::after {
    content: "";
    display: inline-block;
    width: 239px;
    height: 0.5px;
    background: #A19F9F;
    position: absolute;
    top: 35px;
    left: 0;
}
.banner-right .banner-list ul li:last-child::after {
    display: none;
}
.banner-right .banner-down-r{
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    background: var(--white, #FFF);
    margin-top: 100px;
    margin-left: -70px;
}
.banner-right .banner-down-r .banner-down-r-right{
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.banner-right .banner-down-r .banner-down-r-right .right-down-text h5{
    color: #222;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 156%; 
}
.banner-right .banner-down-r .banner-down-r-right .right-down-img{
    display: flex;
    justify-content: space-between;
}
.banner-right .banner-down-r .banner-down-r-right .right-down-img img{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    color: #FF4D1D;
}
.banner-right .banner-down-r .banner-down-r-right .right-down-img .rotate{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    color: #FF4D1D;
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.banner-right .banner-down-r .banner-down-r-right .right-down-text{
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.banner-right .banner-down-r .banner-down-r-right .right-down-text p{
    width: 260px;
    color: #555;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%;
}

.banner-bottom-main{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    overflow: hidden;
}
.banner-bottom-main .banner-bottom{
    display: flex;
    width: 50%;
    background: #F5F5F5;
    padding: 16px;
    gap: 32px;
    border-radius: 10px 0 0 0;
    animation: scrollLogos 15s linear infinite;
    white-space: nowrap;
}

.banner-bottom h1{
    max-width: 815px;
    color: #000;
    text-align: right;
}
.banner-bottom-main .image1 {
    position: relative;
    top: 7px;
    left: 0;
}

/* ================================================================= */
#about-part{
    padding: 100px 72px;
}
#about-part .about-wrapper{
    max-width: 1296px;
    padding-left: 140px;
}
#about-part .about-wrapper .about-top{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 144px;
}
.about-top h3{
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
.about-top h2{
    color: #222;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 660px;
    word-spacing: 19px;
}
 .about-top h2 strong{
    color: #5F5F5F;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -1px;
    text-transform: uppercase;
}

#about-part .about-wrapper .about-buttom{
   padding-top: 74px;
}


#about-part .about-wrapper .about-buttom h5{
    width: 350px;
    padding-top: 190px;
    color: var(--Para, #555);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1px;
    padding-bottom: 32px;
}

.about-buttom .about-images{
    display: flex;
    flex-direction: column;
    position: relative;
}
.about-buttom .about-images .ab-1{
    border-radius: 10px;
    width: 98px;
    height: 98px;
    position: absolute;
    top: 0;
    left: 0;
}
.about-buttom .about-images .ab-2{
    border-radius: 10px;
    position: absolute;
    width: 98px;
    height: 98px;
    top: 24px;
    left: 26px;
}
.about-buttom .about-images .ab-3{
    border-radius: 10px;
    position: absolute;
    top: 48px;
    left: 52px;    
    width: 98px;
    height: 98px;
}
.about-buttom .ab-btn {
    max-width: 190px;
    display: flex;
    height: 48px;
    padding: 2px 2px 2px 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Text, #222);
    transition: all linear .3s;
}
.about-buttom .ab-btn .ab-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--white, #FFF);
    transition: all linear .3s;
}
.about-buttom .ab-btn .ab-text a{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
    transition: all linear .3s;
}
.about-buttom .ab-btn:hover{
    background: #FFF;
}
.about-buttom .ab-btn:hover a{
    color: #000;
}
.about-buttom .ab-btn:hover .ab-dot{
    background: #000;
}
.ab-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    gap: 260px;
}
.ab-down .about-right .ab-card{
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 40px;
    border-radius: 8px;
    background: var(--white, #FFF);
}
.ab-down .about-right .ab-card-bottom{
    display: flex;
    max-width: 305px;
    padding: 16px;
    justify-content: center;
    gap: 40px;
    border-radius: 8px;
    background: var(--white, #FFF);
}
.ab-down .about-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.ab-down .about-right .ab-r-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.ab-down .about-right .ab-r-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.ab-down .about-right .ab-card .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 190px;
    

}
.ab-down .about-right .ab-card-bottom .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 190px;
    

}
.ab-down .about-right .ab-card .item .item-l h2{
    max-width: 185px;
    color: var(--Text, #222);
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
    letter-spacing: -0.96px;
    text-transform: capitalize;
}
.ab-down .about-right .ab-card .item .item-l strong{
    color: var(--Para, #555);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.36px;
    text-transform: capitalize;
}
.ab-down .about-right .ab-card .item .item-l h5{
    width: 100px;
    color: var(--Para, #555);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
.ab-down .about-right .ab-card-bottom .item .item-l h5{
    color: var(--Para, #555);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
.ab-down .about-right .ab-card-bottom .item .item-l h6{
    color: var(--Para, #555);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
.ab-down .about-right .ab-card-bottom .item .item-l img{
    width: 21px;
    height: 21px;
    margin-top: 160px;
    margin-bottom: 24px;
    aspect-ratio: 1/1;
    fill: var(--primary, #FF4E10);
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ab-down .about-right .ab-card-bottom .item .item-l p{
    color: var(--Para, #555);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -1px;
}

/* ================================================================== */

#protfolio-part{
    padding: 100px 62px;
    background: url(../images/protfolio\ bg.png) no-repeat center;
    background-size: cover;
}
#protfolio-part .protfolio-top{
    display: flex;
    align-items: center;
    justify-content: center;;
}
#protfolio-part .protfolio-top .about-top h3{
    padding-bottom: 16px;
    color: var(--white, #FFF);
}
#protfolio-part .protfolio-top .about-top h2{
    width: 300px;
    color: var(--white, #FFF);
}
#protfolio-part .protfolio-top .about-top h2 strong{
    
    color: var(--white, #A29A9A);
}

#protfolio-part .protfolio-top .ab-btn{
    margin-left: 80px;
    display: flex;
    height: 48px;
    padding: 2px 20px 2px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    transition: all linear .3s;
}
#protfolio-part .protfolio-top .ab-btn:hover{
   background: #000;
   border: 1px solid #FFF;
}
#protfolio-part .protfolio-top .ab-btn:hover .ab-dot{
   background: #FFF;
}
#protfolio-part .protfolio-top .ab-btn:hover .ab-text a{
   color: #FFF;
}
#protfolio-part .protfolio-top .ab-btn .ab-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--white, #000);
    transition: all linear .3s;
}
#protfolio-part .protfolio-top .ab-btn .ab-text a{
    color: var(--white, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
    transition: all linear .3s;
}
#protfolio-part .protfolio-top .pro-yr{
    padding-left: 580px;
}
#protfolio-part .protfolio-top .pro-yr span{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
#protfolio-part .protfolio-bottom {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    border-radius: 8px;
    padding-top: 64px;
}
#protfolio-part .protfolio-bottom .card-l{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
#protfolio-part .protfolio-bottom .card-r{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
#protfolio-part .protfolio-bottom .prot-card{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid #6D6A6A;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(75px);
}

#protfolio-part .protfolio-bottom .prot-card .prot-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 270px;
    padding: 8px 16px;
    align-self: stretch;
    border-radius: 8px;
    background: rgba(245, 245, 245, 0.10);
    backdrop-filter: blur(60px);
}
#protfolio-part .protfolio-bottom .prot-card .prot-top .prot-r{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(47px);
    transition: all linear .3s;
}
#protfolio-part .protfolio-bottom .prot-card .prot-top .prot-r img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
#protfolio-part .protfolio-bottom .prot-card .prot-top .prot-l h2{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    letter-spacing: -1px;
    text-transform: uppercase;
}
#protfolio-part .protfolio-bottom .prot-card .prot-bottom img{
    display: flex;
    max-width: 600px;
    height: 402px;
    border-radius: 8px;
}

#protfolio-part .protfolio-bottom .prot-card .prot-bottom .prot-btn{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 32px;
    left: 32px;
}

#protfolio-part .protfolio-bottom .ab-btn{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(47.400001525878906px);
}
#protfolio-part .protfolio-bottom .ab-btn .ab-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--white, #fff);
    transition: all linear .3s;
}
#protfolio-part .protfolio-bottom .ab-btn .ab-text a{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 148.571% */
    letter-spacing: -0.32px;
    text-transform: capitalize;
}
#protfolio-part .protfolio-bottom .prot-card:hover .prot-top .prot-r{
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: var(--primary, #FF4E10);
    backdrop-filter: blur(47px);
}
#protfolio-part .protfolio-bottom .prot-card .prot-bottom .overlay:hover{
    width: 90%;
    height: 78%;
    position: absolute;
    top: 100px;
    left: 16px;
    padding: 0 16px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.3) ;

}
#protfolio-part .protfolio-bottom .prot-card .prot-bottom .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 78%;
    background: transparent;
    position: absolute;
    top: 100px;
    left: 16px;
    padding: 0 16px;
    border-radius: 8px;
}
#protfolio-part .prot-bottom .overlay .protfolio-btn{
    display: flex;
    height: 48px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: transparent;
    transition: all linear .3s;
}
#protfolio-part .prot-bottom .overlay .protfolio-btn .protfolio-dot{
     width: 8px;
    height: 8px;
    border-radius: 50%;
    background:transparent;
    transition: all linear .3s;
}
#protfolio-part .prot-bottom .overlay .protfolio-btn .protfolio-text a{
    color:transparent;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
    transition: all linear .3s;
}

#protfolio-part .protfolio-bottom .prot-card .prot-bottom .overlay:hover .protfolio-dot{
    background: #FFF;
}
#protfolio-part .protfolio-bottom .prot-card .prot-bottom .overlay:hover .protfolio-text a{
    color: #FFF;
}
#protfolio-part .protfolio-bottom .prot-card .prot-bottom .overlay:hover .protfolio-btn{
    background: #FF4E10;
}

/* =================================================================== */
#service-part{
    padding: 100px 62px;
}
#service-part .service-wrapper{
    width: 100%;

}
#service-part .service-wrapper .service-top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 144px;
    justify-content: center;
    margin-left: -115px;
    padding-bottom: 64px;
}
#service-part .service-top h3{
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
#service-part .service-top h2{
    max-width: 760px;
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 64.4px */
    letter-spacing: -1px;
    text-transform: uppercase;
}
#service-part .service-top strong{
    color: var(--2nd-text-color, #A29A9A);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -1px;
    text-transform: uppercase;
}
#service-part .service-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 324px;
}
#service-part .service-bottom .service-left img{
    width: 404px;
    height: 443px;
    aspect-ratio: 114/125;
    border-radius: 8px;
}
#service-part .service-bottom .service-right .right-p{
    max-width: 385px;
    color: var(--Para, #555);
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -1px;
    padding-bottom: 52px;
}
#service-part .service-bottom .service-right .service-box{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: var(--white, #FFF);
    margin-bottom: 16px;
}
#service-part .service-right .service-box .ser-box-left span{
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
#service-part .service-right .service-box .light-clr{
    color: var(--2nd-text-color, #A29A9A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
#service-part .service-right .service-box .ser-box-right h6{
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%; /* 25.2px */
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 20px;
}
#service-part .service-right .service-box .ser-box-right p{
    max-width: 475px;
    color: var(--Para, #555);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -1px;
    text-align: left;
}

#service-part .service-right .service-box h6{
    color: var(--2nd-text-color, #A29A9A);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%; /* 21px */
    letter-spacing: -1px;
    text-transform: uppercase;
}
/* ========================================================= */
#team-part{
    padding: 100px 62px;
}
#team-part .team-wrapper{
    width: 100%;

}
#team-part .team-wrapper .team-top {
    display: flex;
    align-items: center;
    gap: 144px;
    justify-content: start;
    margin-left: 240px;
}
#team-part .team-top h3{
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
#team-part .team-top h2{
    max-width: 480px;
    color: var(--Text, #222);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 64.4px */
    letter-spacing: -1px;
    text-transform: uppercase;
}
#team-part .team-top strong{
    color: var(--2nd-text-color, #A29A9A);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -1px;
    text-transform: uppercase;
}
#team-part .team-bottom {
    display: flex;
    align-items: center;
    gap: 147px;
    margin-left: 235px;
    padding-top: 64px;
}
#team-part .team-bottom .team-botom-left{
    position: relative;
    bottom: -135px;
    left: 0;
}
#team-part .team-bottom .team-botom-left .star{
    width: 21px;
    height: 21px;
    fill: var(--primary, #FF4E10);
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#team-part .team-bottom .team-botom-left p{
    max-width: 365px;
    color: var(--Para, #555);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -1px;
    padding-top: 20px;
}
#team-part .team-bottom .team-botom-left .team-btn{
    display: flex;
    justify-content: start;
    padding-top: 32px;
    align-items: center;
    gap: 16px;
}
#team-part .team-bottom .team-botom-left .team-btn .team-btn-left{
    display: flex;
    padding: 16px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background: var(--Text, #222);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(47px);
    transition: all linear .3s;
}
#team-part .team-bottom .team-botom-left .team-btn .team-btn-right{
    display: flex;
    padding: 16px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background: var(--Text, #222);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(47px);
    transition: all linear .3s;
}
#team-part .team-bottom .team-botom-left .team-btn .team-btn-left{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    transition: all linear .3s;
}
#team-part .team-bottom .team-botom-left .team-btn .team-btn-right{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    transition: all linear .3s;
}
#team-part .team-bottom .team-botom-left .team-btn .team-btn-right:hover{
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: var(--primary, #FF4E10);
    backdrop-filter: blur(47px);
    cursor: pointer;
}
#team-part .team-bottom .team-botom-left .team-btn .team-btn-left:hover{
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: var(--primary, #FF4E10);
    backdrop-filter: blur(47px);
    cursor: pointer;
}

#team-part .team-bottom .team-botom-right .team-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-left: 170px;
} 
#team-part .team-bottom .team-botom-right .team-images .team-img1{
    position: absolute;
    top: 0;
    left: 0;
} 
#team-part .team-bottom .team-botom-right .team-images .team-img2{
   position: relative;
} 
#team-part .team-bottom .team-botom-right .team-images .team-img2 .hello{
    width: 425px;
    height: 482px;
    
} 
#team-part .team-bottom .team-botom-right .team-images .team-img3{
    position: absolute;
    bottom: 0;
    right: -170px;
} 
#team-part .team-bottom .team-botom-right .team-images .team-img2 .arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -17px;
    right: -17px;
    animation: spin 6s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#team-part .team-bottom .team-botom-right .team-images .team-img2:hover .team-overlay{
   background: #FFF;
}
#team-part .team-bottom .team-botom-right .team-images .team-img2:hover h5{
   color: var(--Text, #222);
}
#team-part .team-bottom .team-botom-right .team-images .team-img2:hover p{
   color: var(--Text, #555);
}
#team-part .team-bottom .team-botom-right .team-images .team-img2:hover .over-right{
   display: flex;
}
#team-part .team-bottom .team-images .team-img2 .team-overlay {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: transparent;
    position: absolute;
    bottom: 16px;
    left: 16px;
    transition: all linear .3s;
}
#team-part .team-bottom .team-img2 .team-overlay .over-left h5{
    color: transparent;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%; 
    letter-spacing: -1px;
    text-transform: uppercase;
    padding-bottom: 10px;
    transition: all linear .3s;
}
#team-part .team-bottom .team-img2 .team-overlay .over-left p{
    color: transparent;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: -1px;
    transition: all linear .3s;
}

#team-part .team-bottom .team-img2 .team-overlay .over-right{
    display: none;
    transition: all linear .3s;
}
/* ========================================================== */
#details-part{
    padding: 100px 62px;
    background: #000;
    border-radius: 8px;
}
#details-part .details-up {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
}
#details-part .details-up  .details-left{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 570px;
    gap: 16px;
}
#details-part .details-up h3{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: uppercase;
}
#details-part .details-up h2{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%; /* 58.8px */
    letter-spacing: -1px;
    text-transform: uppercase;
}
#details-part .details-up h2 strong{
    color: var(--2nd-text-color, #A29A9A);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -1px;
    text-transform: uppercase;
}
#details-part .details-up  .details-right p{
    width: 280px;
    color: var(--white, #FFF);
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -1px;
}

#details-part .details-down{
    margin-top: 64px;
}
#details-part .details-down .details-card {
    display: flex;
    width: 73%;
    justify-content: space-between;
    align-items: center;
    gap: 501px;
    padding: 30px;
    margin-left: 216px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(75px);
}


#details-part .details-down .details-card .dcard-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
#details-part .details-down .details-card span{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}
#details-part .details-down .details-card h6{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
#details-part .details-down .details-card .dcard-right img{
    width: 30px;
    height: 30px;
}
#details-part .details-down .details-card .dcard-right .dash{
    width: 8.25px;
    height: 0;
    stroke-width: 2.25px;
    stroke: var(--white, #FFF);
}
#details-part .details-down .details-card1 .extra-up{
    display: flex;
    width: 73%;
    justify-content: space-between;
    align-items: center;
    gap: 501px;
    padding: 30px;
    margin-left: 216px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(75px);
}


#details-part .details-down .details-card1 .extra-up .dcard-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
#details-part .details-down .details-card1 .extra-up span{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}
#details-part .details-down .details-card1 .extra-up h6{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
#details-part .details-down .details-card1 .extra-up .dcard-right img{
    width: 30px;
    height: 30px;
}
#details-part .details-down .details-card1 .extra-up .dcard-right .dash{
    width: 8.25px;
    height: 0;
    stroke-width: 2.25px;
    stroke: var(--white, #FFF);
}
#details-part .extra .details-card-left .extra-text{
    max-width: 470px;
}
#details-part .details-down .details-card1 .extra {
    display: flex;
    justify-content: space-between;
    width: 73%;
    margin-left: 216px;
    align-items: center;
    gap: 0;
    padding: 40px 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}
#details-part .details-down .details-card1 .extra-text p{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: var(--Size-Body-base, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.128px;
}
#details-part .details-down .details-card1 .extra-text h6{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    letter-spacing: -1px;
    padding: 24px 0;
}
#details-part .details-down .details-card1 .extra-btns{
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 420px;
    flex-wrap: wrap;
    gap: 20px;
}
#details-part .details-down .details-card1 .extra-btns .extra-btn{
    padding: 8px 24px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(47.400001525878906px);
}
#details-part .details-down .details-card1 .extra-btns .extra-btn a{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px; /* 130% */
    letter-spacing: -0.32px;
    text-transform: capitalize;
}

#details-part .details-down .details-card1 .extra .details-card-right{
    width: 296px;
    height: 275px;
    border-radius: 8px;
}
















